.btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  color: var(--black);

  border: 1px solid var(--green);
  background-color: transparent;
  transition: 0.2s ease;

  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  &--black {
    color: var(--white);
    background-color: var(--black);
    border: none;
  }

  &:hover {
    color: var(--white);
    background-color: var(--green);
    transition: 0.2s ease;
  }
}

@media (max-width: 767px) {
  .btn {
    height: 40px;
  }
}
