.dropdown {
  position: relative;
  flex-shrink: 0;

  &__head {
    display: flex;
    align-items: center;
    gap: 0 6px;
    cursor: pointer;

    & p {
      font-family: inherit;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      color: var(--black);
      transition: 0.2s ease;
    }

    & svg {
      flex-shrink: 0;
      fill: var(--black);
      transition: 0.2s ease;
    }

    &:hover {
      & p {
        color: var(--green);
        transition: 0.2s ease;
      }

      & svg {
        fill: var(--green);
        transition: 0.2s ease;
      }
    }
  }

  &__body {
    max-height: 0;
    padding: 0 20px;
    background-color: var(--white);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    opacity: 0;
    transition: 0.3s ease;

    position: absolute;
    top: calc(100% + 25px);
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px 0;

    & li,
    & li a {
      display: block;
      font-family: inherit;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      color: var(--black);
      transition: 0.2s ease;
      white-space: nowrap;
      cursor: pointer;

      &:hover {
        color: var(--green);
        transition: 0.2s ease;
      }
    }

    & li {
      display: flex;
      align-items: center;
      gap: 0 10px;
    }
  }

  & img {
    width: 13px;
    height: 13px;
  }

  &--lang {
    & .dropdown__head {
      gap: 0 3px;
    }

    & p {
      font-size: 10px;
    }

    & .dropdown__body {
      & .dropdown__list {
        gap: 10px 0;
      }
    }

    & li {
      font-size: 10px;
      gap: 0 3px;
    }
  }

  &.open {
    & .dropdown__head p {
      color: var(--green);
    }

    & .dropdown__head svg {
      fill: var(--green);
      transform: rotate(180deg);
      transition: 0.2s ease;
    }

    & .dropdown__body {
      max-height: 500px;
      padding: 20px;
      opacity: 1;
      transition: 0.3s ease;
    }
  }
}

@media (max-width: 767px) {
  .dropdown {
    &__head {
      justify-content: center;

      & p {
        font-size: 20px;
      }
    }

    &__body {
      background-color: var(--light-grey);
      box-shadow: none;
      position: static;
      transform: translateX(0);
    }

    &__list {
      & li a {
        white-space: initial;
      }
    }

    &.open {
      & .dropdown__body {
        margin-top: 10px;
      }
    }
  }
}
