:root {
  --black: #1d1d1d;
  --grey: #777777;
  --light-grey: #f3f5f6;
  --green: #2ecd76;
  --light-green: #eefcf9;
  --white: #fff;
}

html {
  scroll-behavior: smooth;
}

html.block {
  overflow: hidden;
}

body {
  font-family: "Comfortaa", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.hidden {
  display: none !important;
}
