.header {
  position: relative;
  padding: 18px 0;

  &__container {
    max-width: 1270px;
  }

  &__head {
    display: flex;
    align-items: center;
    gap: 0 50px;
  }

  &__language {
    & .dropdown__head {
      gap: 0 3px;

      & p {
        font-size: 10px;
      }
    }
  }

  &__dropdown {
    &:nth-of-type(2) {
      margin-left: auto;
    }
  }

  &__btn {
    width: 224px;
  }

  &__body {
    display: none;
  }

  &__logo {
    display: none;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 20px 15px;

    &__head {
      justify-content: space-between;
      gap: 0 17px;

      & .header__language {
        display: none;
      }

      & .header__dropdown {
        display: none;
      }
    }

    &__btn {
      max-width: 245px;
      width: 100%;
    }

    &.open {
      height: 100vh;
      padding: 20px 15px 30px;
      overflow: hidden;

      & .header__container {
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      & .header__head {
        & .header__btn {
          display: none;
        }

        & .header__language {
          display: block;
        }
      }

      & .header__body {
        padding-top: 100px;

        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
        gap: 50px 0;

        & .header__dropdown .dropdown__head p,
        & a {
          font-size: 20px;
        }

        & .header__dropdown:nth-of-type(2) {
          margin-left: 0;
        }

        & .header__btn {
          max-width: 285px;
          width: 100%;
          margin: auto auto 0;

          font-size: 14px;
        }
      }

      & .header__logo {
        display: block;

        width: 240px;
        height: 240px;
        opacity: 0.1;
        transform: rotate(15deg);

        position: absolute;
        top: 50%;
        right: -50px;
        z-index: -1;
      }
    }
  }
}
