.promo {
  position: relative;
  padding-top: 30px;
  margin-bottom: 78px;

  &__container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;

    & h1 {
      font-family: inherit;
      font-style: normal;
      font-weight: 700;
      font-size: 75px;
      line-height: 110%;
      color: var(--black);
      word-break: break-word;
    }

    & p {
      max-width: 270px;

      position: absolute;
      bottom: 0;
      right: 0;

      font-family: inherit;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      color: var(--black);
    }
  }

  &__img {
    height: 454px;
    border-radius: 35px;
    overflow: hidden;
  }
}

@media (max-width: 1399px) {
  .promo {
    margin-bottom: 170px;
  }
}

@media (max-width: 1279px) {
  .promo {
    &__container {
      & h1 {
        margin-bottom: 20px;
      }

      & p {
        max-width: 100%;
        position: static;
      }
    }
  }
}

@media (max-width: 767px) {
  .promo {
    margin-bottom: 306px;

    &__container {
      & h1 {
        font-size: 44px;
      }

      & p {
        max-width: 100%;
        position: static;
      }
    }
  }
}
