.start {
  position: relative;
  margin-bottom: 78px;

  &__wrapper {
    height: 710px;
    border-radius: 35px;
    overflow: hidden;

    background-image: url(../img/ukraine-flag.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__title {
    color: var(--white);
    margin-top: 70px;
    margin-bottom: 20px;
  }

  &__name {
    font-size: 75px;
    color: var(--white);
  }

  &__img {
    display: none;
  }
}

@media (max-width: 1399px) {
  .start {
    margin-bottom: 170px;
  }
}

@media (max-width: 767px) {
  .start {
    padding: 0;
    margin-bottom: 306px;

    &__wrapper {
      height: initial;
      border-radius: 0;
      background-image: none;
    }

    &__title {
      color: var(--black);
      margin-top: 40px;
      margin-bottom: 10px;
    }

    &__name {
      font-size: 44px;
      color: var(--black);
      margin-bottom: 20px;
    }

    &__img {
      display: block;
      height: 216px;
      border-radius: 15px;
      overflow: hidden;
    }
  }
}

@media (max-width: 374px) {
  .start {
    &__block {
      padding: 25px 15px;
    }

    &__tab {
      width: 120px;
    }

    &__sum {
      width: 68px;
    }
  }
}
