.text,
.text-1,
.text-2 {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  color: var(--black);
}

.text {
  font-size: 16px;

  &-1 {
    font-size: 20px;
  }

  &-2 {
    font-size: 14px;
  }

  &--grey {
    color: var(--grey);
  }
}

@media (max-width: 767px) {
  .text-1 {
    font-size: 16px;
  }
}
